.table .title {
    position: relative;
    display: flex;
    align-items: center;
}

.table .title #total_spots_headline {
    position: absolute;
    right: 0%;
    font-weight: 400;
    font-size: 1rem;
}

.table .header {
    grid-template-columns: 1fr 0.7fr 0.3fr !important;
}

.entry {
    grid-template-columns: 1fr 0.7fr 0.3fr !important;
}

.edit-spots {
    background-color: var(--pending-orange) !important;
}

.edit-spots:hover {
    background-color: var(--pending-orange-dark) !important;
}

.entity-spots {
    font-weight: 700;
    color: var(--invalid-red);
}

#edit-spots-dialog label {
    display: inline;
    width: fit-content;
}

#edit-spots-dialog input {
    width: 100px;
    margin-left: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--main-blue);
}

#edit-spots-dialog input::-webkit-outer-spin-button,
#edit-spots-dialog input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#edit-spots-dialog input[type=number] {
  -moz-appearance: textfield;
}

#edit-spots-dialog #submit-zone {
    width: fit-content;
    align-self: flex-end;
    
    display: flex;
    gap: 16px;
}

#edit-spots-dialog button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-blue);
    font-weight: 700;
}

#edit-spots-dialog button:hover {
    background-color: var(--hover-grey);
}

#edit-spots-failed label {
    color: var(--invalid-red);
}

#edit-spots-success button, #edit-spots-failed button {
    width: fit-content;
    align-self: flex-end;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-blue);
    font-weight: 700;
}

#edit-spots-success button:hover, #edit-spots-failed button:hover {
    background-color: var(--hover-grey);
}