@media screen and (max-width: 1250px) {
    .bookings-table {
        width: 100%;
        border: none;
        padding: 0px;
    }

    .bookings-table .title>div {
        top: 0%;
        right: 0%;
    }

    .bookings-table .title #add-booking-btn {
        padding: 0px;
    }

    .bookings-table .title #add-booking-btn:hover {
        background-color: transparent;
    }

    .bookings-table .title .warn {
        right: 0%;
        left: auto;
        transform: translateX(0%);
    }

    .header {
        display: none !important;
    }

    .entry {
        position: relative;
        margin: 25px 0px 25px 0px !important;
        padding: 25px !important;

        grid-template-columns: 1fr 1fr !important;

        row-gap: 25px;

        box-shadow: 0px 0px 7px 2px grey;
    }

    .entry .cell.immat {
        justify-self: start;
    }

    .entry .cell.criticity {
        justify-self: end;
    }

    .entry .cell.start {
        justify-self: start;
    }

    .entry .cell.end {
        justify-self: end;
        text-align: end;
    }

    .entry .cell.duration {
        justify-self: start;
    }

    .entry .booking-action {
        position: absolute;
    }

    .entry .edit {
        bottom: 20px;
        right: 85px;
    }

    .entry .delete {
        bottom: 20px;
        right: 25px;
    }
}

@media screen and (max-width: 800px) {
    main {
        width: 90%;
    }
    
    .add-booking-popup {
        width: 95%;
    }
}

@media screen and (max-width: 750px) {
    dialog {
        max-width: 100vw !important;
        padding: 15px;
        border-radius: 5px;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .add-booking-popup#add-booking-dialog {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        border-radius: 0;
        box-shadow: none;
    }

    .add-booking-popup#add-booking-dialog #start {
        width: fit-content;
    }

    .add-booking-popup#add-booking-custom-dialog {
        width: 90vw;
        border-radius: 5px;
    }

    .add-booking-popup .headline h1, .add-booking-popup .headline h3 {
        width: fit-content;
    }

    .add-booking-popup .book {
        width: 100% !important;
    }
    .add-booking-popup .book #infos {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr;
    }

    .add-booking-popup .pick-label.time {
        width: 70px;
    }

    .add-booking-popup .pick-label.time input{
        width: 70px;
    }

    #delete-booking-dialog h2 {
        width: fit-content;
    }
}

@media screen and (max-width: 500px) {
    .add-booking-popup .headline h1 {
        font-size: 1.5rem;
    }

    .add-booking-popup #datetimes {
        display: grid;
        grid-template-columns: 0.7fr 0.3fr;
    }

    .add-booking-popup #datetimes #start {
        grid-column: 0/-1;
    }

    .add-booking-popup .book .row .pick-label {
        padding-left: 0px;
        padding-right: 0px;
    }

    .add-booking-popup .book .row .pick-label:hover {
        background-color: transparent;
    }

    .add-booking-popup .book .row#end-recurrence {
        flex-direction: column;
        align-items: flex-start;
    }

    .delete-booking-popup {
        width: 95%;
    }

    .delete-booking-popup #delete-booking #close-delete-dialog {
        border: var(--main-blue) 1px solid;
    }

    .delete-booking-popup #delete-booking {
        grid-template-columns: repeat(2, 1fr);
        padding: 0%;
    }

    .delete-booking-popup #delete-booking #close-delete-dialog {
        grid-column: 1;
    }

    .delete-booking-popup #delete-booking #submit-delete-dialog {
        grid-column: 2;
    }
}