{% extends 'super-admin-pannel.html' %}

{% block additionnalHead %}
<link rel="stylesheet" href="{{url_for('static', filename='css/super-admin-allocation.css')}}">
{% endblock %}

{% block tableTitle %}
<label>Répartition des places par établissement</label>
<label id="total_spots_headline">Places de parking: {{total_spots}}</label>
{% endblock %}

{% block tableHeader %}
<label>Etablissement</label>
<label>Places allouées</label>
{% endblock %}

{% block tableBody %}
{% for e in entry %}
    <div class="entry" id="{{e['id']}}">
        <label class="entity-title">{{e['name']}}</label>
        <label class="entity-spots">{{e['allocated']}}</label>

        <button class="edit-spots" type="button">Modifier</button>
    </div>
{% endfor %}
{% endblock %}

{% block underTable %}
<dialog class="user-dialog" id="edit-spots-dialog">
    <form action="{{url_for('editAllocation')}}" method="post">
        <h3>Modifier la répartition pour <span id="spots-entity-name"></span></h3>

        <div>
            <label for="new-spots-input">Nouvelle répartition:</label>
            <input type="number" name="spots" id="new-spots-input">
        </div>

        <div id="submit-zone">
            <button id="close-spots-edit-dialog" type="button">Annuler</button>
            <button type="submit">Confirmer</button>
        </div>
    </form>
</dialog>

<dialog class="user-dialog" id="edit-spots-success">
    <form action="{{url_for('superAdminPannelAllocation')}}" method="get">
        <h3>Modifications effectuées avec succès</h3>

        <button type="submit">Ok</button>
    </form>
</dialog>

<dialog class="user-dialog expand" id="edit-spots-failed">
    <form method="dialog">
        <label>Echec de la modification de la répartition, vérifiez que les champs sont corrects puis réessayez</label>

        <button type="submit">Ok</button>
    </form>
</dialog>
{% endblock %}

{% block additionnalScript %}
<script src="{{url_for('static', filename='js/super-admin-allocation.js')}}"></script>
{% endblock %}